# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/
coverage-html/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
mkdocs/site

# mypy
.mypy_cache/

# VSCode
.vscode/

# Sonar Qube
.sonarworks/

#mother related
config/
catboost_info/
active_dev.py
scikit-hyperband
data/
export/
logs/

#pycharm?!
.idea

#mac
.DS_Store
